*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(24,89,140,1) 87%);
}

.container{
    border-radius: 10px;
    background-color: #e0f4ee;
    padding: 20px;
}

.qr__text{
    margin: 20px 0;
}
.qr__title{
    font-size: 18px;
}
.qr__desc{

}
.qr__input{

}